   /*Css para layout fluido*/
    #tudo{
        width: 100%;
        background-color: black;
        border-color: black;
        
    }

    header{
        width: 40%;
        height: 200px;
        background-color: blue;
        float: left;
        margin-left: 10%;
       /*teste*/ 
    }

    nav{
        width: 40%;
        height: 200px;
        background-color: red;
        float:right;
        margin-right: 10%;
    }

    main{
        width: 75%;
        height: 500px;
        background-color: green;
        float: left;
        margin-left: 13%;
}

    section{
        width: 30%;
        height: 85%;
        margin-left: 2%;
        margin-right: 1%;
        margin-top: 3%;
        margin-bottom: 2%;
    }

    #a{
        background-color: blueviolet;
        float: left;
       
    }
    #b{
        background-color: aqua;
        float: left;
                

    
    }
    #c{
        background-color: hotpink;
        float: left;
       
    }

    footer{
        width: 90%;
        height: 200px;
        background-color: yellow;
        clear: both;
        margin-right: 5%;
        margin-left: 5%;
        
    }